#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        screen_cut: screen_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(LWIN)) &kp PAGE_DOWN>;
            label = "SCREEN_CUT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC         &kp F1  &kp F2  &kp F3          &kp F4        &kp F5         &kp F6            &kp F7           &kp F8       &kp F9  &kp F10  &kp F11  &kp F12  &kp PG_UP
&kp TAB         &kp Q   &kp L   &kp U           &kp COMMA     &kp PERIOD     &kp LALT          &to 4            &kp F        &kp W   &kp R    &kp Y    &kp P    &kp PG_DN
&kp LEFT_SHIFT  &kp E   &kp I   &kp A           &kp O         &kp MINUS      &kp INT_MUHENKAN  &kp INT_HENKAN   &kp K        &kp T   &kp N    &kp S    &kp H    &kp HOME
&kp LCTRL       &kp Z   &kp X   &kp C           &kp V         &kp SEMICOLON  &kp ENTER         &kp SPACE        &kp G        &kp D   &kp M    &kp J    &kp B    &kp END
                                &lt 1 LEFT_WIN  &lt 2 DELETE  &lt 3 RCTRL    &kp SPACE         &lt 4 BACKSPACE  &lt 2 ENTER
            >;
        };

        kigou {
            bindings = <
&kp ESC    &kp N1           &kp N2             &kp N3     &kp N4      &kp N5       &none  &none  &kp N6         &kp N7            &kp N8                &kp N9                 &kp N0        &none
&kp TAB    &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp POUND  &kp DOLLAR  &kp PERCENT  &none  &none  &kp AMPERSAND  &kp GRAVE         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS     &kp BACKSLASH
&kp LSHFT  &none            &none              &none      &none       &none        &none  &none  &kp AT_SIGN    &kp SINGLE_QUOTE  &kp GRAVE             &kp UNDERSCORE         &kp LS(STAR)  &kp LS(RBRC)
&kp LCTRL  &none            &none              &none      &none       &none        &none  &none  &kp LS(LT)     &kp LS(GT)        &kp LS(QMARK)         &kp LS(UNDER)          &none         &none
                                               &none      &none       &none        &none  &none  &kp LSHFT
            >;
        };

        arrow {
            bindings = <
&kp ESC    &none  &none      &none      &none     &none  &none  &none    &none             &kp K_MUTE       &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none  &none
&kp TAB    &none  &none      &kp LGUI   &kp BSPC  &none  &none  &none    &none             &kp DEL          &kp UP_ARROW       &kp BSPC         &none  &none
&kp LSHFT  &none  &kp LCTRL  &kp LSHFT  &kp BSPC  &none  &none  &none    &kp INT_MUHENKAN  &kp LEFT         &kp DOWN           &kp RIGHT        &none  &none
&kp LCTRL  &none  &none      &none      &none     &none  &none  &none    &none             &kp LC(LS(TAB))  &kp INT_HENKAN     &kp LC(TAB)      &none  &none
                             &none      &none     &none  &none  &kp DEL  &kp BSPC
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
                     &none  &none  &none  &none  &none  &none
            >;
        };

        tenkey {
            bindings = <
&trans       &kp F1     &kp F2     &kp F3     &kp F4     &kp F5   &trans   &trans     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_N9        &kp SLASH       &kp PLUS      &to 0
&kp F6       &kp F7     &kp F8     &kp F9     &kp F10    &kp F11  &kp F12  &kp DEL    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK    &kp MINUS     &trans
&trans       &kp LC(A)  &trans     &trans     &trans     &trans   &trans   &kp BSPC   &kp KP_N1        &kp KP_N2        &kp KP_NUMBER_3  &trans          &kp UP_ARROW  &trans
&kp LA(TAB)  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans   &trans   &trans     &kp KP_N0        &kp DOT          &kp RET          &kp LEFT_ARROW  &kp DOWN      &kp RIGHT
                                   &trans     &kp LGUI   &trans   &trans   &kp ENTER  &trans
            >;
        };

        mouse {
            bindings = <
&kp ESC    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans    &trans              &trans  &trans
&kp TAB    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F5       &mkp MB3  &mkp MB5            &trans  &trans
&kp LSHFT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1     &mkp MB2  &lt 6 INT_MUHENKAN  &trans  &trans
&kp LCTRL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &screen_cut  &trans    &mkp MB4            &trans  &trans
                           &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        scroll {
            bindings = <
&kp ESC    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                           &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
